body {
  text-align: center;
}

h1, h2 {
  margin: 30px auto 0 auto;
}

img {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.albums {
  align: center;
}

.albums button {
  width: 18%;
  height: 50px;
  margin: 5px 1%;
  white-space: normal;
}

.thumbnails img {
  margin: 0 10px;
}

.full-photo img {
  width: 400px;
  margin-bottom: 30px;
}
